body{
    height: 90vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
  
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color:#aaa;
    border-radius: 10px;
    transition-property: 'color','transform';
    transition-duration: 500ms;
}